on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
  workflow_dispatch: {}

name: r-wasm/actions - build-rwasm

jobs:
  build-rwasm:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./build-rwasm
        with:
          packages: cli
          image-path: _image
          repo-path: _repo
      - name: Verify repo exists
        shell: Rscript {0}
        run: |
          print(dir("_repo", recursive = TRUE))
          stopifnot(dir.exists("_repo/src"))
          stopifnot(dir.exists("_repo/bin"))
      - name: Verify image exists
        shell: Rscript {0}
        run: |
          print(dir("_image", recursive = TRUE))
          stopifnot(file.exists("_image/library.data"))
          stopifnot(file.exists("_image/library.js.metadata"))
  build-rwasm-fixed-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./build-rwasm
        with:
          packages: cran/cli@3.6.2
          image-path: _image
          repo-path: _repo
          webr-image: ghcr.io/r-wasm/webr:v0.3.3
      - name: Verify repo built for webR v0.3.3 exists
        shell: Rscript {0}
        run: |
          print(dir("_repo", recursive = TRUE))
          stopifnot(dir.exists("_repo/bin/emscripten/contrib/4.3/"))
  build-rwasm-compressed:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./build-rwasm
        with:
          packages: cli
          image-path: _image
          repo-path: _repo
          compress: true
      - name: Verify repo built with compressed images exists
        run: |
          [ -n "$(find _repo -name '*.tgz')" ]
